.register {
  display: flex;
  align-items: center;

  &__image {
    height: 89.95vh;
    width: 50vw;
  }

  &__right {
    margin: auto;
    height: 80vh;
    &-title {
      text-align: center;
      color: #0f1225;
      font-size: 5rem;
    }

    width: 30%;
    &-form {
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: 2rem;
        padding: 2rem 0;
        color: #707070;
        border: none;
        border-radius: 10px;
        background-color: #f1f1f1;
        padding-left: 2rem;
      }
    }
  }
}
